:root {
    --customTabBar: transparent;
    --customFg: #cacecb;
    --customFgAlpha: #cacecb1a;
    --customFgIntense: #cacecb;
    --customFgFaded: #cacecb;
    --customFgFadedMore: #cacecb;
    --customFgFadedMost: #cacecb;
    --customBg: #0d080f;
    --customBgAlpha: #0d080fe6;
    --customBgAlphaHeavy: #0d080fa6;
    --customBgAlphaHeavier: #0d080f40;
    --customBgAlphaBlur: #0d080ff2;
    --customBgDark: #0d080f;
    --customBgDarker: #0d080f;
    --customBgLight: #0d080f;
    --customBgLighter: #0d080f;
    --customBgLightIntense: #0d080f;
    --customBgIntense: #0d080f;
    --customBgIntenser: #0d080f;
    --customBgIntserAlpha: #0d080feb;
    --customBgInverse: #0d080f;
    --customBgInverser: #0d080f;
    --customBgFaded: #0d080f;
    --customHighlightBg: #8B8F8F;
    --customHighlightBgUnfocused: #8B8F8F;
    --customHighlightBgAlpha: #8B8F8F1a;
    --customHighlightBgDark: #8B8F8F;
    --customHighlightFg: #6E6D71;
    --customHighlightFgAlpha: #6E6D7180;
    --customHighlightFgAlphaHeavy: #6E6D7140;
    --customAccentBg: #6E6D71;
    --customAccentBgAlpha: #6E6D7166;
    --customAccentBgAlphaHeavy: #6E6D7140;
    --customAccentBgDark: #6E6D71;
    --customAccentBgDarker: #6E6D71;
    --customAccentBgFaded: #6E6D71;
    --customAccentBgFadedMore: #6E6D71;
    --customAccentBgFadedMost: #6E6D71;
    --customAccentBorder: #80817E;
    --customAccentBorderDark: #80817E;
    --customAccentFg: #cacecb;
    --customAccentFgFaded: #cacecb;
    --customAccentFgAlpha: #cacecb40;
    --customBorder: var(--colorBorder);
    --customBorderDisabled: var(--colorBorderDisabled);
    --customBorderSubtle: var(--colorBorderSubtle);
    --customBorderIntense: var(--colorBorderIntense);
    --customSuccessBg: var(--colorSuccessBg);
    --customSuccessBgAlpha: var(--colorSuccessBgAlpha);
    --customSuccessFg: var(--colorSuccessFg);
    --customWarningBg: var(--colorWarningBg);
    --customWarningBgAlpha: var(--colorWarningBgAlpha);
    --customWarningFg: var(--colorWarningFg);
    --customErrorBg: var(--colorErrorBg);
    --customErrorBgAlpha: var(--colorErrorBgAlpha);
    --customErrorFg: var(--colorErrorFg);
    --customWindowBg: #0d080f;
    --customWindowFg: #cacecb;
}